<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
    
    	<!-- 'GITIGNORE START' -->
    	<property name="hibernate.connection.url">jdbc:postgresql://database-1.c06saqkwyoup.us-east-1.rds.amazonaws.com:5432/postgres?currentSchema=Project1</property>
    	<property name="hibernate.connection.username">postgres</property>
    	<property name="hibernate.connection.password">Glaive982#</property>
    	<!-- 'GITIGNORE END' -->
    	
    	<property name="hibernate.driver_class">org.postgresql.Driver</property>
    	<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    	<property name="hibernate.show_sql">true</property>
    	
    	<property name="hibernate.default_schema">Project1</property>
    	<property name="hibernate.hbm2ddl.auto">Validate</property>
    	
    	<!--mapping the class that uses this goes here-->
    	<mapping class="com.revature.models.ERS_User_Role"></mapping>
    	<mapping class="com.revature.models.ERS_User"></mapping>
    	
    </session-factory>

</hibernate-configuration>